@import url('https://fonts.googleapis.com/css?family=Orbitron');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn
{
  border: 5px solid #1c44f5;
  background-color:#1c44f5;
    color: #ffffff; 
    width: 150px;
    font-size: 9pt;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Georgia', sans-serif;
    font-size: 20px;
}

.alert-primary
{
  border: none;
  background: #d5e6fd;
  margin-bottom: -18px;
  color: #000000;
}

.alert-success
{
  border: 2px solid #d5e6fd;
  background: #fffdfd;
  color: #000000;
}

.alert
{
  font-family: 'Georgia', sans-serif;
}


.small
{
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: normal;
  font-family: 'Arial', sans-serif;
  text-align: right;
}


body{
  
  position: relative;
  font-family: 'Georgia', sans-serif;
  height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


#commentwindow {
  width: 720px;
  margin-bottom: 5px;
  margin: 10px auto 20px auto;
  box-sizing: border-box;
  }

h3.titlecom
{
  font-family: Georgia, sans-serif;
  font-size: 30px;
  margin-bottom: -20px;
}




@import url('https://fonts.googleapis.com/css?family=Orbitron');

#clock {
	width: 400px;
	font-family: 'Orbitron', sans-serif;
	color: #00ff0d;
	padding: 20px 5px;
	margin: -8px auto -30px auto;
	font-size: 62px;
	text-align: center;
	  }

section.gallery{
  position: relative;
  padding: 5px 0;
}



h2.title{
  background-color: #ffffff;
  border: 5px solid #000000;
  font-family: Georgia, sans-serif;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  margin: -35px 0 20px 0;
}

p1 {
  background-color: #ffffff;
  border: solid 3px #ffffff;
}

hr {
	border: none;
	height: 5px; line-height: 1px;
	background: #000000;
	margin-top: 10px;
	margin-bottom: 1px;
	
	padding: 0;
}

.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gallery-item{
  border: solid 3px #333333;
  display: block;
  flex: 30%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover{
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform: scale(1.4) rotate(5deg);
}
.gallery-item img{
  
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}
@media (max-width: 991px){
  .gallery-item{
    flex: 33.3%;
  }
}
@media (max-width: 768px){
  .gallery-item{
    flex: 50%;
  }
}
@media (max-width: 530px){
  .gallery-item{
    flex: 100%;
  }
}
